
@import 'material-icons/iconfont/material-icons.css';


ul{
	list-style: none;
}
li {
  list-style-type: none; /* Убираем маркеры */
 }
.shop-card {
  padding:20px;
  margin:20px;
  border: none;
  width:450px;

}


.module {

  width:1400px;
  
}

.toolbar {

  position:"absolute"
}
.shop-item {

  padding:40px;
  margin:20px;
  border: none;
  width:1400px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 600px) {
  .shop-card {
    padding:14px;
    margin:13px;
    border: 0.5px dashed black;
    width:300px;
  
  }
  
  .shop-item {
  
    padding:14px;
    margin:13x;
    border: 0.5px dashed black;
    width:400px;
    display:block;
  }

  #smallrow {

    flex-direction:column;
  }



}